/* general styles */

body {
    margin: 0;
    font-family: 'Lora', serif;
    color: #292e41;
    line-height: 1.88
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #292e41;
    cursor: pointer;
}

nav a {
    text-transform: uppercase;
    list-style: none;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 1px;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
}

p:last-of-type {
    margin-bottom: 0;
}

main {
    background-color: #292e41;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    flex-flow: column;
    text-transform: uppercase;
    color: #E4E8F7;
}

.container {
    max-width: 1280px;
    padding: 60px 0;
    margin: auto;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 3.3px;
    margin: 0;
}

.hero-subtitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

#ribbon {
    color: #E4E8F7;
    height: 80px;
    background-image: url(../img/general/ribbon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 60px;
    position: relative;
    margin-bottom: 60px;
}

#ribbon-text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.3px;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
}
