#index-hero {
    background-image: url(../img/index/astronaut-img.svg);
    height: 450px;
}

.portfoliov2 {
    background-color: #ebeef8;
}

.glifft {
    background-color: #ebf5f8;
}

.canopy {
    background-color: #ffffff;
}

.soma-water {
    background-color: #f8f4eb;
}

.spotify {
    background-color: #ebf8f0;
}

.project-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.88;
    letter-spacing: 1.5px;
}

.pink-link a {
    color: #f49191;
    text-decoration: underline;
}

.pink-link a:hover {
    color: #d96262;
}

.project-description {
    line-height: 30px;
    text-align: center;
    margin: 0 auto 30px auto;
    padding: 0 275px;
}

.left-align {
    text-align: left;
}

.button {
    background-color: orange;
    padding: 14px 30px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 30px auto 0 auto;
    display: inline-block;
    cursor: pointer;
    transition: background-color .2s;
}

.button:hover {
    background-color: inherit;
    border-radius: 5px;
}

.button.contact-button {
    background-color: #f49191;
}

.button.contact-button:hover {
    background-color: #D96161;
}

.portfoliov2 a {
    background-color: #828FC2;
    cursor: default;
}

.glifft a {
    background-color: #48C6D4;
}

.glifft a:hover {
    background-color: #00A8BA;
}

.canopy a {
    background-color: #76B38E;
}

.canopy a:hover {
    background-color: #3C8C5B;
}

.soma-water a {
    background-color: #E6C173;
}

.soma-water a:hover {
    background-color: #D4A43B;
}

.spotify a {
    background-color: #5ABF7D;
}

.spotify a:hover {
    background-color: #169E45;
}

#spacer60 {
    height: 60px;
}
