body {
    margin: 0;
    font-family: 'Droid Serif', serif;
    color: #292e41;
    line-height: 1.88
}

h1, nav {
    font-family: 'Open Sans', sans-serif;
}

.top-nav {
    width:100%;
    /*position: fixed;*/
    /*z-index: 100;*/
    height: 50px;
    opacity: 0.8;
    background-color: #e4e8f7;
    color: #292e41;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

a {
    text-decoration: none;
    color: #292e41;
}

nav a {
    text-transform: uppercase;
    list-style: none;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 1px;
}

.current-link {
    color: #596db3;
}

nav a:hover {
    color: #596db3;
}

nav a:active {
    color: #596db3;
}


.container {
    max-width: 1280px;
    padding: 60px 0;
    margin: auto;
    text-align: center;
}

.navigation {
    padding: 0 85px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 1280px;
}

#logo {
    min-width: 90px;
    padding-right: 20px;
    font-size: 14px;
}

#logo:hover {
    color: #292e41;
}

.links-right {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

main {
    background-color: #292e41; 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    flex-flow: column;
    text-transform: uppercase;
    color: #E4E8F7;
}

#index-hero {
    background-image: url(../img/index/astronaut-img.svg);
    height: 660px;
}

#about-hero {
    background-image: url(../img/about/cally-desk-img.png);
    height: 450px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 3.3px;
    margin: 0;

}

.hero-subtitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}

#ribbon {
    color: #E4E8F7;
    height: 80px;
    background-image: url(../img/general/ribbon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 60px;
    position: relative;
    margin-bottom: 60px;
}

#ribbon-text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.3px;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
}

.projects {
    
}

.portfoliov2 {
    background-color: #ebeef8;
}

.glifft {
    background-color: #ebf5f8;
}

.canopy {
    background-color: #ffffff;
}

.soma-water {
    background-color: #f8f4eb;
}

.spotify {
    background-color: #ebf8f0;
}

.main-project-image {
}

.project-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.88;
    letter-spacing: 1.5px;
}

.pink-link a {
    color: #f49191;
    text-decoration: underline;
}

.pink-link a:hover {
    color: #d96262;
}

.project-description {
  line-height: 30px;
  text-align: center;
  margin: 0 auto 30px auto;
  padding: 0 275px;
}

.left-align {
    text-align: left;
}

.button {
    background-color: orange;
    padding: 14px 30px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 30px auto 0 auto;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: inherit;
    border-radius: 5px;
}

.button.contact-button {
    transition: background-color .5s;
    background-color: #f49191;
}

.button.contact-button:hover {
    background-color: #D96161;
}

.portfoliov2 a {
    transition: background-color .5s;
    background-color: #828FC2;
    cursor: default;
}

.portfoliov2 a:hover {
    /*background-color: #4D5FA1;*/
    background-color: #828FC2;
}

.glifft a {
    transition: background-color .5s;
    background-color: #48C6D4;
}

.glifft a:hover {
    background-color: #00A8BA;
}

.canopy a {
    transition: background-color .5s;
    background-color: #76B38E;
}

.canopy a:hover {
    background-color: #3C8C5B;
}

.soma-water a {
    transition: background-color .5s;
    background-color: #E6C173;
}

.soma-water a:hover {
    background-color: #D4A43B;
}

.spotify a {
    transition: background-color .5s;
    background-color: #5ABF7D;
}

.spotify a:hover {
    background-color: #169E45;
}

footer {
    background-color: #e4e8f8;
}

footer .container {
    padding: 75px 0;
    position: relative;
}

#footer-avatar {
    margin-top: -115px;
    margin-bottom: 45px;
}

#spacer60 {
    height: 60px;
}

footer a {
    display: inline-block;
    margin-right: 60px;
}

footer a:last-of-type {
    margin-right: 0px;
}

#social-links {
    margin-top: 30px;
}

#social-links a {
    margin-right: 30px;
}

#social-links a:last-of-type {
    margin-right: 0;
}

#copyright {
    position: absolute;
    bottom: 15px;
    right: 85px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    margin-top:0;
    margin-bottom: 30px;
}

p:last-of-type {
    margin-bottom: 0;
}

.links-right a, footer nav a {
    position: relative;
}

.links-right a:before {
    content: '';
    position: absolute;
    height: 1px;
    bottom: -5px;
    left: 0;
    width: 110%;
    transform: scale(0);
    background: #596db3;
    transition: transform .6s ease-in-out;
    visibility: hidden;
}

.links-right a:hover:before {
    visibility: visible;
    transform: scale(1);
}

#social-links img {
    /*transition: all .3s ease-in-out;*/
    /*transform: scale(1);*/
}

#social-links img:hover {
    /*transform: scale(1.3);*/
}

#contact input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: thin;
    font-size: 16px;
    line-height: 1.88;
    color: #8891b3;  
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #8891b3;
    padding: 10px 15px;
}

#contact {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

#contact input {
    margin-bottom: 33px;
}

#contact textarea {
    margin-bottom: 30px;
    height: 90px;
}

#contact button {
    border: none;
    margin-bottom: 0;
}

.container.contact {
    margin-top: 60px;
}